@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #receipt-print-area,
  #receipt-print-area * {
    visibility: visible;
  }
  #receipt-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: none;
    padding: 2rem;
  }
  .no-print {
    display: none !important;
  }
}

html {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
